# Maven
/target/
**/target/

# IntelliJ IDEA
.idea/
*.iml

# Visual Studio Code
.vscode/

# Systèmes d'exploitation
.DS_Store
Thumbs.db

# Données locales MINOS
.minos/
*.scip

# Bases locales Glean et données générées
.glean/
glean-db/

# Journaux
*.log
